@import "../../styles/styles.scss";

mark{
  background-color: white;
}

//1920 x 850

.image-block-container {
    padding-top: $paddingTopWorkspace;
    &:nth-child(even) {
        .image-block-outer {
            .outer-project-details {
                left: auto;
                right: -$margin;
                @include breakpoint(xs) {
                    right: -$mobileMargin;
                }
            }
        }
    }
    .image-block-outer {
        margin-top: $buffer;
        margin-right: $margin; 
        margin-bottom: $buffer;
        margin-left: $margin;
        position: relative;
        @include breakpoint(xs) {
            margin: $buffer $mobileMargin 0 $mobileMargin;
        }
        .outer-project-details {
            @include breakpoint(md) {
                font-size: $fontSizeMobile;
                line-height: $lineHeightMobile;
            }
            position: absolute;
            top: 0;
            bottom: 0;
            width: $margin;
            left: -$margin;
            @include breakpoint(xs) {
                width: $mobileMargin;
                left: -$mobileMargin;
            }
            .details-text {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .image-block-inner {
            .image-block-wrapper {
                position: relative;
                img {
                    width: 100%;
                    min-height: 100%;
                    background-color: grey;
                }
            }
        }
    }
}