@import "../../styles/styles.scss";

.feed-item {
    // padding: $feedItemPadding 0;
    &.no-padding-top {
        padding-top: 0;
    }
    &.no-padding-bottom {
        padding-bottom: 0;
    }
    &.no-padding-left {
        padding-left: 0;
    }
    &.no-padding-right {
        padding-right: 0;
    }
}