@import "../../styles/styles.scss";

@mixin mobile {
    @media (max-width: $mobileMaxWidth) { @content; }
}

@mixin tab {
    @media (max-width: $tabMaxWidth) { @content; }
}

.hero-container {
    background: $backgroundColor;
    position: relative;
    margin-top: 1em;
    height: $videoHeight;
    overflow: hidden;

    @include tab {
        height: $videoHeightTab !important;
        width: auto !important;
        overflow: hidden;
    }

    @include mobile { 
        height: $videoHeightMobile !important;
        width: auto !important;
        overflow: hidden;
    }
}
