@import "../../styles/styles.scss";

.studio-services {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-bottom: $buffer*4;
    }
    .services-header {
        text-align: center; 
    }
}