@import '/variables.scss';

@mixin transitionRegular {
  transition: $transitionRegular;
}
@mixin transition {
  transition: $transitionCubic;
  // transition: all 1s linear;
}

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 600px) { @content; }
  }
  @else if $class == sm {
    @media (max-width: 960px) { @content; }
  }
  @else if $class == md {
    @media (max-width: 1280px) { @content; }
  }
  @else if $class == lg {
    @media (max-width: 1920px) { @content; }
  }
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin animation($duration, $easing, $delay, $iterationCount, $fillMode, $animation) {
  animation: $duration $easing $delay $iterationCount $fillMode $animation;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sunsetBlvd1 {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(15deg) rotateY(360deg) rotateZ(0deg);
  }
}
