@font-face {
    font-family: "Soehne";
    src: url("./fonts/soehne-web-buch.woff") format("woff"),
    url("./fonts/soehne-web-buch.woff2") format("woff2"),
}

$buffer:                             5px;
$margin:                             $buffer*12;
$mobileMargin:                       $buffer*12;
$paddingTop:                         15px;  
$paddingBottom:                      15px;  
$spacing:                            3; //24px (3 * 8px)
$spacing-gap:                        10px;                            

$primaryFont:                        'Prophet Bold', Helvetica, sans-serif;
$secondaryFont:                      'Work Sans', Helvetica, sans-serif;
$footerFont:                         'Soehne';

$fontWeight300:                     300; 
$fontWeight400:                     400; 
$fontWeight500:                     500;
$fontWeight600:                     600; 

$fontColorDark:                     #000000;
$fontColorLight:                    #aaaaaa;
$fontColorLightest:                 #ffffff;

$bgColor:                           #f1f2f0;

$goldenHour:                        #DEB83B;
$acid:                              #FC4C02;
$babyBlue:                          #B9D9EB;
$seaFoam:                           #00C19F;
$green:                             #17B78D;
$backgroundTest:                    #fcfcf4;

$fontSizeSmall:                      14px;
$fontSizeMobile:                     22px;
$fontSizeStaticFooter:               24px;
$fontSizeFooter:                     32px;
$fontSizeStaticHeader:               36px;
$fontSize:                           36px;
$fontSizeStatement:                  48px;
$fontSizeHero:                       96px;

$lineHeightSmall:                    16px;
$lineHeightMobile:                   24px;
$lineHeight:                         38px;
$lineHeightStatement:                50px;
$lineHeightHero:                     96px;

$timing:                             .5s;
$easingCubic:                        cubic-bezier(0.77, 0, 0.175, 1);
$easingRegular:                      ease-in-out;
$transitionCubic:                    all $timing $easingCubic;
$transitionRegular:                  all $timing $easingRegular;

$pageTransitionTiming:               2s;

$delay1:                             .25s;
$delay2:                             $delay1+$delay1;
$delay3:                             $delay1+$delay2;
$delay4:                             $delay1+$delay3;
$delay5:                             $delay1+$delay4;
$delay6:                             $delay1+$delay5;
$delay7:                             $delay1+$delay6;
$delay8:                             $delay1+$delay7;

$xs:                                 600px;
$sm:                                 960px;
$md:                                 1280px;
$lg:                                 1920px;

$zIndex1:                            1;
$zIndex2:                            2;
$zIndex3:                            3;
