@import "../../styles/styles.scss";

.ribbon-container {
    margin: $buffer*2 0;
    padding: $buffer*4 0;
    color: $fontColorLightest;
    overflow: hidden;
    .wrapper-slide {
        display: flex;
        align-items: center;
        span {
            margin-right: $margin*2;
            &.slide-main-title {
                font-size: $fontSizeStatement;
                line-height: $lineHeightStatement;
                @include breakpoint(xs) {
                    font-size: $fontSizeMobile;
                    line-height: $lineHeightMobile;
                    white-space: nowrap;
                }
            }
            &.slide-secondary-title {
                font-size: $fontSize;
                @include breakpoint(xs) {
                    font-size: $fontSizeSmall;
                    white-space: nowrap;
                }
            }
        }
    }
    &.multi-family {
        background: $seaFoam;
    }
    &.custom-homes {
        background: $babyBlue;
    }
    &.kitchens {
        background: $goldenHour;
    }
    &.public-urban {
        background: white;
        color: $fontColorDark;
    }
}