@import "../../styles/styles.scss";

.ribbon-container {
    margin: $buffer*2 0 0 0;
    padding: $buffer*4 0;
    color: $fontColorLightest;
    overflow: hidden;
    color: black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    .wrapper-slide {
        display: flex;
        align-items: center;
        ::selection { 
            color: white !important; 
        }
        span {
            margin-right: $margin*2;
            &.slide-main-title {
                font-size: $fontSizeStatement;
                line-height: $lineHeightStatement;
                white-space: nowrap;
                overflow-x: auto;
                overflow-y: hidden;
                
                @include breakpoint(xs) {
                    font-size: $fontSizeMobile;
                    line-height: $lineHeightMobile;
                    white-space: nowrap;
                    overflow-x: auto;
                    overflow-y: hidden;
                }
            }
            &.slide-secondary-title {
                font-size: $fontSize;
                white-space: nowrap;
                overflow-x: auto;
                overflow-y: hidden;
                @include breakpoint(xs) {
                    font-size: $fontSizeSmall;
                    white-space: nowrap;
                    overflow-x: auto;
                    overflow-y: hidden;
                }
            }
        }
    }
    &.multi-family {
        background: transparent;
    }
    &.custom-homes {
        background: transparent;
    }
    &.kitchens {
        background: transparent;
    }
    &.public-urban {
        background: transparent;
    }
}