@import "../../styles/styles.scss";

.video-block-container {
    margin-top: $buffer*2;
    padding-top: $paddingTop;
    height: 75vh; 
    width: 100%;
    background: $bgColor;
    overflow: hidden;
}