@import "../../styles/styles.scss";

@mixin mobile {
    @media (max-width: $mobileMaxWidth) { @content; }
}

@mixin tab {
    @media (max-width: $tabMaxWidth) { @content; }
}

.video-block-container {
    margin-top: $buffer*2;
    padding-top: 0; //$paddingTop;
    height: $videoHeight; 
    width: 100%;
    background: $bgColor;
    text-align: center;
    justify-content: center;
    overflow: hidden;
   
    @include tab {
        height: $videoHeightTab !important;
        width: auto !important;
        overflow: hidden;
    }

    @include mobile { 
        height: $videoHeightMobile !important;
        width: auto !important;
        overflow: hidden;
    }
}


