@import "../../styles/styles.scss";

.video-wrapper {
    position: relative;
    .video-element {
        min-width: 100% !important;
        height: 60vh !important;
        // position: absolute;
        // top: 0;
        // bottom: 0;
        // right: 0;
        // left: 0;
        video {
            @include breakpoint(xs) {
                width: auto !important;
            }
        }
    }
} //video-wrapper