@import "../../styles/styles.scss";

.video-wrapper {
    position: relative;
    .video-element {
        min-width: 100% !important;
        min-height: 60vh !important;
        position: absolute;
        top: 0;
        bottom: 0;
        video {}
    }
} //video-wrapper