@import "../../styles/styles.scss";

.text-block-container {
    font-size: $fontSize;
    line-height: $lineHeight;
    &.statement-container {
        margin: $lineHeightStatement 0;
    }
    .text-block-inner {
        .text-item {
            .header {
                margin-top: $lineHeightStatement;
                font-size: $fontSizeStatement;
                line-height: $lineHeightStatement;
                margin-bottom: $lineHeight;
                text-transform: uppercase;
            }
            .body {
                margin-bottom: $lineHeight;
            }
            .list {
                list-style-type: none;
                margin: 0;
                padding: 0;
                li {}
            }
        }
    }
}