@import "../../styles/styles.scss";

@mixin mobile {
    @media (max-width: 899px) { @content; }
}

.footer-container {
    font-size: $fontSizeFooter;
    line-height: $lineHeight;
    padding: $margin;
    line-height: 1.35em;
    font-family: $secondaryFont;
    font-weight: 400;
    justify-content: space-evenly;
    @include mobile { 
        padding: $mobileMargin;
        font-size: $fontSizeSmall;
    }
    .footer-description {
        padding-bottom: $margin;
        font-family: $secondaryFont;
        font-weight: 400 ;
        .description-text {
            .title {
                font-weight: 1000 ;
            }
        }
        .description-list {
            .title {
                font-weight: 500 !important;
            }
            font-family: $secondaryFont;
            ol {
                li { 
                    //padding-top: 2vh;
                }
            }
        }
        @include mobile { 
            font-size: $fontSizeSmall;
        }
    }
    .footer-details {
        .footer-item {
            font-family: $secondaryFont;
            position: relative;
            @include breakpoint(xs) {
                font-size: $fontSizeMobile;
                line-height: $lineHeightMobile;
            }
            .people-title {
                font-weight: 400 !important;
            }
            .people-text {
                padding-bottom: 5vh;
            }
            .design-services-title {
                padding-bottom: $margin;
            }
            .friends-list {
                padding-left: 0%;
                li {
                    padding-top: 10px;
                }
            }
            ul {
                padding: $margin;
                padding-left: 0;
                font-size: $fontSize;
                line-height: $lineHeight;
                font-family: $secondaryFont;
                list-style-type: none;
                margin: 0;
            }
            @include mobile { 
                font-size: $fontSizeSmall;
            }
        }
    }
}