@import "../../styles/styles.scss";

.footer-container {
    font-size: $fontSizeFooter;
    line-height: $lineHeight;
    padding: $margin;
    padding-left: $margin;
    line-height: 1.35em;
    font-family: $secondaryFont;
    font-weight: 300;
    @include breakpoint(xs) {
        padding: $mobileMargin;
        font-size: $fontSizeMobile;
        line-height: $lineHeightMobile;
    }
    .footer-description {
        padding-bottom: $margin;
        font-family: $secondaryFont;
        font-weight: 300 !important;
        .description-text {
            .title {
                font-weight: 400 !important;
            }
        }
        .description-list {
            .title {
                font-weight: 400 !important;
            }
            font-family: $secondaryFont;
            ol {
                li { 
                    //padding-top: 2vh;
                }
            }
        }
    }
    .footer-details {
        .footer-item {
            font-family: $secondaryFont;
            position: relative;
            @include breakpoint(xs) {
                font-size: $fontSizeMobile;
                line-height: $lineHeightMobile;
            }
            .people-title {
                font-weight: 400 !important;
            }
            .people-text {
                padding-bottom: 5vh;
            }
            .design-services-title {
                padding-bottom: $margin;
            }
            .friends-list {
                padding-left: 0%;
                li {
                    padding-top: 10px;
                }
            }
            ul {
                padding: $margin;
                padding-left: 0;
                font-size: $fontSize;
                line-height: $lineHeight;
                font-family: $secondaryFont;
                list-style-type: none;
                margin: 0;
                @include breakpoint(xs) {
                    padding: 0;
                    padding-left: $margin;
                    font-size: $fontSizeSmall;
                    line-height: $lineHeightSmall;
                }
            }
        }
    }
}