@import "../../styles/styles.scss";

.feed-library {
    .library-item {
        background: $bgColorDark;
        height: $feedItemHeight;
        width: 100%;
        @include breakpoint(xs) {
            height: $feedItemHeightMobile;
        }
        img {
            max-width: 80%;
            height: auto;
            max-height: 80%;
        }
    }
}