@import "../../styles/styles.scss";

.nav-container {
    font-family: $primaryFont;
    font-size: $fontSizeStatement;
    line-height: $lineHeightStatement;
    color: $acid;
    text-transform: uppercase;
    //padding-top: $margin;
    z-index: $zIndex2;
    position: fixed;
    pointer-events: none;
    white-space: nowrap !important;
    overflow-x: auto;
    overflow-y: hidden;
    @include breakpoint(xs) {
        font-size: $fontSizeMobile;
        line-height: $lineHeightMobile;
        padding: $mobileMargin;
    }
    .nav-inner {
        .nav-items {
            pointer-events: auto;
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                li {
                    .page-link {
                        background-color: transparent;
                        display: inline-block;     
                        position: relative;  
                        z-index: $zIndex1;     
                        padding: 0.5em;     
                        margin: -0.1em; 
                        padding-left: $margin;
                        border: 0px;
                        width: 260px;
                    }
                }
            }
        }
        .nav-cta {
            pointer-events: auto;
            .message-wrapper {
                background-color: transparent;
                font-family: $primaryFont;
                font-size: $fontSizeButton;
                display: inline-block;     
                text-align: center;
                position: relative;       
                width: auto;
                height: auto;
                color: $seaFoam;
                padding-right: $margin;
            }
        }
    }
    .footer {
        text-transform: lowercase;
        pointer-events: auto;
        color: black;
        font-weight: normal; 
        font-size: $fontSizeFooter; 
        position: fixed;
        bottom: $fontSizeFooter;
        white-space: nowrap;
        padding-left: $margin;
    }
    .footer-items:active {
        color: $goldenHour;
    }
}

