@import "../../styles/styles.scss";

@mixin mobile {
    @media (max-width: 899px) { @content; }
}

@mixin tab {
    @media (max-width: 1280px) { @content; }
}

.nav-container {
    @include mobile { 
        padding-left: $mobileMargin;
    }
    .fixed-header, .fixed-footer{
        width: 100%;
        position: fixed;        
        padding-top: 0.5em;
        color: black;
        z-index: $zIndex1;
        text-transform: uppercase;
        overflow-x: hidden;
        overflow-y: hidden;
        padding-left: $margin;
        padding-right: $margin;
        @include mobile { 
            padding-left: 0 !important;
        }
    }
    .fixed-header{
        background-color: white;
        padding-bottom: 0.5em;
        width: 100% !important;
        @include mobile { 
            background-color: white;
            width: 100% !important;
            font-size: $fontSizeMobile;
        }
        .speedboat {
            font-size: $fontSizeStaticHeader;
            // .speedboat-btn:hover {
            //     animation: .8s jump ease infinite alternate;
            // }
            .speedboat-span {
                color: black;
                // animation: changeColor step-end infinite;
                // transition:transform 2s ease-in 2s;
                // animation-iteration-count: infinite;
                // animation-direction: alternate;
                // animation-duration: 5s;
                // animation-timing-function: ease-in-out;
                // -webkit-animation-duration: 5s;
                // -webkit-animation-iteration-count: infinite;
                // -webkit-animation-direction: alternate;
                // -webkit-animation-timing-function: ease-in-out; 
            }
            .speedboat-span:hover{
               // animation: changeColor step-end infinite;  //.8s jump ease infinite alternate,
               color: $acid
            }
        }
        span {
            color: black;
            line-height: $fontSizeStaticHeader;
            font-size: $fontSizeStaticHeader;
            font-family: $primaryFont;
            pointer-events: auto;
            // animation: changeColor step-end infinite;
            // transition:transform 2s ease-in 2s;
            // animation-iteration-count: infinite;
            // animation-direction: alternate;
            // animation-duration: 5s;
            // animation-timing-function: ease-in-out;
            // -webkit-animation-duration: 5s;
            // -webkit-animation-iteration-count: infinite;
            // -webkit-animation-direction: alternate;
            // -webkit-animation-timing-function: ease-in-out; 
        }
        .message {
            padding-left: $spacing-gap;
            font-size: $fontSizeStaticHeader;
            .message-span {
                color: black;
                // animation: changeColor step-end infinite;
                // transition:transform 2s ease-in 2s;
                // animation-iteration-count: infinite;
                // animation-direction: alternate;
                // animation-duration: 5s;
                // animation-timing-function: ease-in-out;
                // -webkit-animation-duration: 5s;
                // -webkit-animation-iteration-count: infinite;
                // -webkit-animation-direction: alternate;
                // -webkit-animation-timing-function: ease-in-out; 
            }
            .message-span:hover{
                color: $acid
                // animation: changeColor step-end infinite;  //.8s jump ease infinite alternate,
            }
            @include mobile { 
                padding-left: 0;
            }
            @include tab { 
                padding-left: 0;
            }
        }
        .shop {
            font-size: $fontSizeStaticHeader;
            padding-left: $spacing-gap;
            .shop-span {
                color: black;
                // animation: changeColor step-end infinite;
                // transition:transform 2s ease-in 2s;
                // animation-iteration-count: infinite;
                // animation-direction: alternate;
                // animation-duration: 5s;
                // animation-timing-function: ease-in-out;
                // -webkit-animation-duration: 5s;
                // -webkit-animation-iteration-count: infinite;
                // -webkit-animation-direction: alternate;
                // -webkit-animation-timing-function: ease-in-out; 
            }
            .shop-span:hover {
                color: $acid
                // animation: changeColor step-end infinite; //.8s jump ease infinite alternate, 
            }
            @include mobile { 
                padding-left: 0;
            }
            @include tab { 
                padding-left: 0 !important;
            }
        }
    }
    .fixed-footer{
        bottom: $paddingBottom;
        font-family: $primaryFont;
        font-size: $fontSizeStaticFooter;
        text-align: left;
        font-weight: normal; 
        text-transform: lowercase;
        pointer-events: auto;
        color: black;
        background-color: transparent;
        @include mobile { 
            font-size: $fontSizeMobile;
            font-family: $primaryFont;
        }
        .mail:hover {
            background-color: transparent;
            // animation:  changeColor step-end infinite; //.8s jump ease infinite alternate,
            // -webkit-animation: changeColor step-end infinite; //.8s jump ease infinite alternate,
            color: $acid
        }
        .instagram {
            padding-left: $spacing-gap/2 + 2;
            @include mobile { 
                padding-left: 0;
            }
            @include tab { 
                padding-left: 0;
            }
        }
        .instagram:hover {
            // animation: changeColor step-end infinite; //.8s jump ease infinite alternate, 
            // -webkit-animation: changeColor step-end infinite; //.8s jump ease infinite alternate,
            color: $acid
        }
        .number {
            padding-left: $spacing-gap;
            @include mobile { 
                padding-left: 0;
            }
            @include tab { 
                padding-left: 0;
            }
        }
        .number:hover {
            background-color: transparent;
            // animation:  changeColor step-end infinite; //.8s jump ease infinite alternate,
            // -webkit-animation: changeColor step-end infinite; // .8s jump ease infinite alternate,
            color: $acid
        }
        .location{
            padding-left: $spacing-gap * 2 - 3;
            @include mobile { 
                padding-left: 0;
            }
            @include tab { 
                padding-left: 0;
            }
        }
        .location:hover {
            background-color: transparent;
            color: $acid
            // animation: changeColor step-end infinite; // .8s jump ease infinite alternate,
            // -webkit-animation:  changeColor step-end infinite; //.8s jump ease infinite alternate,
           
        }

        .and {
            // animation: changeColor step-end infinite;
            // transition:transform 2s ease-in 2s;
            // animation-iteration-count: infinite;
            // animation-direction: alternate;
            // animation-duration: 5s;
            // animation-timing-function: ease-in-out;
            // -webkit-animation: changeColor step-end infinite;
            // -webkit-animation-duration: 5s;
            // -webkit-animation-iteration-count: infinite;
            // -webkit-animation-direction: alternate;
            // -webkit-animation-timing-function: ease-in-out; 
        }
        .and:hover {
            //color: $acid
        }
        a:link {
            // animation: changeColor step-end infinite;
            // transition:transform 2s ease-in 2s;
            // animation-iteration-count: infinite;
            // animation-direction: alternate;
            // animation-duration: 5s;
            // animation-timing-function: ease-in-out;
            // -webkit-animation: changeColor step-end infinite;
            // -webkit-animation-duration: 5s;
            // -webkit-animation-iteration-count: infinite;
            // -webkit-animation-direction: alternate;
            // -webkit-animation-timing-function: ease-in-out; 
        }
        a:hover {
            background-color: transparent;
            //color: $acid
            // animation: changeColor step-end infinite; // .8s jump ease infinite alternate,
            // -webkit-animation: changeColor step-end infinite;  //.8s jump ease infinite alternate,
        }
    }    
}

// @-webkit-keyframes changeColor {
//     0% {
//         color: $acid
//     }
//     25% {
//         color: $babyBlue
//     }
//     50% {
//         color: $seaFoam
//     }
//     75% {
//         color:$goldenHour
//     }
// }

// @keyframes changeColor {
//     0% {
//         color: $acid
//     }
//     25% {
//         color: $babyBlue
//     }
//     50% {
//         color: $seaFoam
//     }
//     75% {
//         color:$goldenHour
//     }
// }
// @-webkit-keyframes jump {
//     0% {
//       transform: scale(1);
     
//     }
//     100% {
//       transform: scale(1.5);
//     }
//   }

// @keyframes jump {
//     0% {
//       transform: scale(1);
     
//     }
//     100% {
//       transform: scale(1.5);
//     }
//   }