@import "../../styles/styles.scss";


.nav-container {
    font-family: $primaryFont;
    font-size: $fontSizeStatement;
    line-height: $lineHeightStatement;
    color: $acid;
    text-transform: uppercase;
    padding-top: $margin;
    z-index: $zIndex2;
    position: fixed;
    pointer-events: none;
    padding: $margin;
    @include breakpoint(xs) {
        font-size: $fontSizeMobile;
        line-height: $lineHeightMobile;
        padding: $mobileMargin;
    }
    .nav-inner {
        .nav-items {
            pointer-events: auto;
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                li {
                    .page-link {
                        background-color: transparent;
                        display: inline-block;     
                        position: relative;  
                        z-index: 1;     
                        padding: 0.5em;     
                        margin: -0.1em; 
                        border: 0px;
                        width: 260px;
                        padding-left: 5px;
                    }
                }
            }
        }
        .nav-cta {
            pointer-events: auto;
            .message-wrapper {
                background-color: transparent;
                font-family: $primaryFont;
                font-size: $fontSizeStatement;
                display: inline-block;     
                text-align: center;
                position: relative;       
                width: auto;
                height: auto;
                color: $seaFoam;
            }
        }
        .footer {
            pointer-events: auto;
            background-color: red; 
            font-weight: normal; 
            font-size: $fontSizeStatement; 
            position: fixed;
            bottom: 200px;
            .contact {
                position: relative;
            }
            .mail {
                position: relative;
            }
        }
    }
}

// .footer-items:active {
//     color: $goldenHour;
// }